/* 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더 */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 1000;
}
.logo {
  img {
    max-width: 120px;
    height: auto;
  }
}

.navmenu {
  display: flex;
}
.navmenu a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navmenu a:hover,
.navmenu a:focus {
  color: #ee1c47;
}
/* 아이콘 영역 */
.nav-icon i {
  padding: 10px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
  // background-color: #999;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}
#menu-icon {
  padding: 5px;
  font-size: 35px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
  // background-color: #999;
}
